/**********************************************
                MAIN CONTENT 
***********************************************/
div#main div.row div.main-content{
  margin-left: 55px;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  padding-bottom: 5%;
  /*width: 100%;*/
}

/**********************************************
                  CAROUSEL 
***********************************************/
div#main div.main-content div#carousel-ad{
  margin-top: 30px;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/**********************************************
                BUTTON OPTIONS
***********************************************/
div.main-content div#button-options div{
  text-align: center;
}

div.main-content div#button-options button{
  width:100%;
  text-align: center;
  height:142px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #F9F9F9;
  border: 1px solid #FCFCFC;

  /* HOVER OFF */
   -webkit-transition: box-shadow 0.5s ease;
}

div.main-content div#button-options button:hover{
  background-color: white;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.4);
  width: 110%

  -webkit-transition: box-shadow 0.5s ease;
} 

div.main-content div#button-options button:focus{
  background-color: #e6e6e6;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
} 

div.main-content div#button-options button#sell-btn:hover{
  color: #9d43bf;
} 

div.main-content div#button-options button#register-btn:hover{
  color: #f53b3c;
} 

div.main-content div#button-options button#guaranteed-btn:hover{
  color: #365dac;
} 

div.main-content div#button-options button#secured-btn:hover{
  color: #7ea538;
} 

div.main-content div#button-options button:focus{
  outline: 0;
} 

div.main-content div#button-options button div.option-icon{
  padding-left: 15px;
  padding-right: 15px;
}

div.main-content div#button-options button div.option-icon h1{
  font-size: 400%;
}

div.main-content div#button-options button div.option-text{
  font-size: 100%;
}

@media screen and (max-width: 1220px){
  div.main-content div#button-options button div.option-icon h1{
    font-size: 350%;
  }

  div.main-content div#button-options button div.option-text{
    font-size: 90%;
  }
}

@media screen and (max-width: 1100px) and (min-width: 991px){
  div.main-content div#button-options button{
    height:115px;
  } 

  div.main-content div#button-options button div.option-icon h1{
    font-size: 300%;
  }

  div.main-content div#button-options button div.option-text{
    font-size: 80%;
  }
}

@media screen and (max-width: 767px){
  div.main-content div#button-options button{
    padding: 0;
    height: 5em;
  }

  div.main-content div#button-options button div.option-icon{
    padding-left: 30px;
    padding-right: 0px;
  }

  div.main-content div#button-options button div.visible-xs.option-text{
    padding-top: 20px;
  }

  div.main-content div#button-options button div.visible-xs.option-text p{
    /*word-break: break-all;*/
    white-space:normal;
  }

  div.main-content div#button-options button div.option-icon h1{
    font-size: 250%;
  }
}

@media screen and (max-width: 510px){
  div.main-content div#button-options button div.visible-xs.option-text{
    padding-top: 10px;
  }
}

@media screen and (max-width: 381px){
  div.main-content div#button-options button div.visible-xs.option-text{
    font-size: 80%;
    padding-left: 5px;
  }
}

/**********************************************
                  SEARCH BAR
***********************************************/
div.main-content div#search-bar div.input-group{
  background-color: #F9F9F9;
  padding: 15px 15px 15px 15px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

/**********************************************
                PRODUCT GALLERY 
***********************************************/
div.main-content div#product-gallery div.thumbnail{
  padding:0px;
  max-width: 100%;

  -webkit-transition: all .5s ease; /* Safari and Chrome */
  -moz-transition: all .5s ease; /* Firefox */
  -o-transition: all .5s ease; /* IE 9 */
  -ms-transition: all .5s ease; /* Opera */
  transition: all .5s ease;
}

div.main-content div#product-gallery div.thumbnail:hover{
  /*padding: 5px 5px 0 5px;*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform:translateZ(0) scale(1.05); /* Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* IE 9 */
  -o-transform:translatZ(0) scale(1.05); /* Opera */
  transform:translatZ(0) scale(1.05);
}

div.main-content div#product-gallery div.thumbnail div.button-group{
  position: absolute;
  z-index: 1000;
  padding:5px;
  display:none;
}


div.main-content div#product-gallery div.thumbnail button{
  text-align: center;
  padding: 4px 3px 1px 4px ;
  background-color: rgba(0,0,0,0.2);
  border: 0;
  height: 30px;
  width: 30px;
}

div.main-content div#product-gallery div.thumbnail button:hover{
  background-color: rgba(0,0,0,0.5);
}

div.main-content div#product-gallery div.thumbnail button span{
  font-size: 20px;
  color: white;
}

div.main-content div#product-gallery div.thumbnail div.image-container{
  width:100%;
  height: 230px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

div.main-content div#product-gallery div.thumbnail div.image-container img{
  background-color: gray; 
  max-height: 320px;
  max-width: 320px;
}

div.main-content div#product-gallery div.caption a.prodcut-name{
  font-size: 5px;
}

div.main-content div#product-gallery div.hidden-caption{
  display: none;
}

div.main-content div#product-gallery div.hidden-caption p{
  font-size: 0.75em;
  margin: 0;
}

/**********************************************
                 PRODUCT MODAL 
***********************************************/
div#product-modal div.modal-lg{
  width:80%;
}

div#product-modal img{
  margin-left: auto;
  margin-right: auto;
}

div#product-modal img.portrait{
  height:100%;
  width: auto;
  display: block;
}

div#product-modal img.landscape{
  width:100%;
  height: auto;
  display: block;
}

div#product-modal div.modal-body h1.product-name{
  margin-bottom: 0;
}

div#product-modal div.modal-body p.product-price{
  font-size: 1.2em;
}

div#product-modal div.modal-body .h4.product-desc-heading{
  margin-bottom: 0;
}

div#product-modal div.modal-body div.user-action{
  margin-right: 10px;
}

div#product-modal div.modal-body div.user-action button{
  border: 1px solid #F7F7F7;
}

div#product-modal div.modal-body div.user-action button:focus{
  outline: 0;
}

/**********************************************
                 LOGIN MODAL 
***********************************************/
div#log-in-modal div.modal-sm{
  margin-top: 9em;
  width:22em;
  height: 26em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div#log-in-modal div.modal-sm div.modal-content{
  height: 100%;
}

div#log-in-modal form div.brand-container{
  margin-bottom: 1em;
}

div#log-in-modal form div.brand-container img{
  height: 5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2em;
}

div#log-in-modal button{
  width:100%;
  margin-top: 3em;
}
